html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    z-index: 50;
}

.logo {
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.portfolio {
    font-size: 2.3vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
}

.portfolio span {
    display: inline-block;
    transition: transform 0.8s ease, color 0.6s ease;
}

.scene {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: auto;
    z-index: 1;
}

.house-img {
    width: 100%;
    height: auto;
    display: block;
}

.door-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 20;
    pointer-events: auto;
    perspective: 900px;
}

.door-img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    clip-path: inset(0px 0px 0px 0px);
}

@media (min-width: 769px) {
    .door-wrapper:hover .door-img {
        transform: rotateY(-45deg);
    }
}

@media (max-width: 768px) {
    .scene {
        display: none;
    }
}

.content {
    width: 100%;
    margin-top: 3vw;
    text-align: left;     
    padding-left: 2vw;    
}

.content-img {
    width: 10vw;    
    height: auto;
    display: block;
    margin: 2px;; 
}

.content-text {
    font-size: 1.2vw;
    color: #111;
    margin-top: 2vw;
    width: 60vw;
    margin-left: 0;       
    margin-right: 0;
    line-height: 1.6;
}

.lamba{
    position: fixed;
    top: 0vw;        
    right: 5vw;       
    width: 40vw;       
    height: auto;
    z-index: 200;     
    pointer-events: none; 
}

.portfolio-gallery {
    width: 100%;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;   /* ORTALAMA */
    gap: 2vw;
}

.portfolio-item {
    width: 60vw;
    height: auto;
    display: block;
    border: 3px solid rgb(225, 238, 111); /* SİYAH ÇERÇEVE */
    border-radius: 2px;      /* köşeler biraz yumuşak */
}

    
